.header__lang-link {
    color: #ffff;
    min-width: 22px;
    min-height: 20px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 100%;
    line-height: 111%;
    box-sizing: border-box;
    text-decoration-line: underline;
    font-style: normal;
    margin-right: 0;
}

.header__lang-link:nth-last-child(1) {
    text-decoration: none;
    margin-left: 18px;
    margin-right: 16px;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .header__lang-link {
        min-width: 6.675%;
        min-height: 28px;
        margin-top: 46px;
        margin-left: 24px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    } 
}

@media screen and (min-width: 767px) and (max-width: 768px) {
    .header__lang-link {
        min-width: 6.675%;
        min-height: 28px;
        margin-top: 46px;
        margin-left: 24px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    } 
}

@media screen and (min-width: 767px) and (max-width: 768px) {

    .header__lang-link:nth-last-child(1) {
        margin-right: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header__lang-link {
        min-width: 30px;
        min-height: 28px;
        margin-top: 46px;
        margin-left: 48px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    } 
    
    .header__lang-link:nth-last-child(1) {
        margin-right: 48px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px)  {
    .header__lang-link {
        min-width: 30px;
        min-height: 28px;
        margin-top: 46px;
        margin-left: 48px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    } 
}

@media screen and (min-width: 1281px) and (max-width: 30000px)  {
    .header__lang-link {
        min-width: 30px;
        min-height: 28px;
        margin-top: 46px;
        margin-left: 48px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }   

    .header__lang-link:nth-last-child(1) {
        margin-right: 48px;
    }
}