.places {
    display: grid;
    row-gap: 50px;
    margin-top: 64px;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        margin-top: 88px;
        margin-left: 3.125vw;
        margin-right: 3.125vw;
        row-gap: 80px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px)  {
    .places {
        margin-top: 92px;
        margin-left: 4.6875vw;
        margin-right: 4.6875vw;
        row-gap: 80px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 30000px)  {
    .places {
        margin-top: 92px;
        margin-left: 148px;
        margin-right: 148px;
        row-gap: 80px;
    }
}