.header__logo {
    max-width: 90vw;
    max-height: 42px;
    margin-top: 17px;
    margin-left: 5vw;
    margin-right: auto;
    line-height: 44px;
    box-sizing: content-box;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .header__logo {
        min-width: 155px;
        min-height: 47px;
        margin-top: 28px;
        margin-left: 3.125vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header__logo {
        min-width: 176px;
        min-height: 52px;
        margin-top: 28px;
        margin-left: 4.7%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 30000px)  {
    .header__logo {
        min-width: 176px;
        min-height: 52px;
        margin-top: 28px;
        margin-left: 48px;
    }
}
