.place__paragraphs {
    display: grid;
    row-gap: 25px;
    margin-top: 32px;
}


@media screen and (min-width: 768px) and (max-width: 30000px) {
    .place__paragraphs {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-top: 48px;
    }
}
