.lead__subtitle {
    color: #ffff;
    margin-top: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    max-width: 90vw;
    font-size: 5vw;
    line-height: 120%;
    margin-bottom: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .lead__subtitle {
        margin-top: 32px;
        max-width: 80vw;
        font-size: 3.9vw;
        line-height: 120%;
    }
}


@media screen and (min-width: 769px) and (max-width: 30000px) {
    .lead__subtitle {
        max-width: 640px;
        margin-top: 32px;
        font-size: 30px;
        line-height: 36px;
    }
}
