
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        display: grid;
        grid-template-columns: 47.27% 48.88%;;
        column-gap: 3.64583vw;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px)  {
    .place {
        display: grid;
        grid-template-columns: 47.4137% 49.13%;
        column-gap: 3.125vw;
    }
}

@media screen and (min-width: 1280px) and (max-width: 30000px)  {
    .place {
        display: grid;
        grid-template-columns: 460px 482px;
        column-gap: 40px;
    }
}