.place__url-heading {
    min-width: 288px;
    color: #AAAAAA;
    font-weight: 200;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 0;
}
