.photo-grid__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 321px) and (max-width: 425px) {
    .photo-grid__image {
        min-width: 100%;
        min-height: 100%;
    }
}