.intro__title {
    color: #fff;
    margin-top: 64px;
    max-width: 70vw;
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
    margin-left: 5vw;
    margin-right: 16px;
    margin-bottom: 0;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .intro__title {
        margin-top: 88px;
        margin-left: 3.125vw;
        font-size: 7.03vw;
        line-height: 107%;
        max-width: 93.75vw;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .intro__title {
        margin-top: 92px;
        max-width: 93.75vw;
        margin-left: 4.6875%;
        font-size: 5.25vw;
        line-height: 107%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px)  {
    .intro__title {
        margin-top: 92px;
        max-width: 690px;
        margin-left: 11.5625vw;
        font-size: 54px;
        line-height: 107%;
    }
}

@media screen and (min-width: 1281px) and (max-width: 30000px)  {
    .intro__title {
        margin-top: 92px;
        max-width: 690px;
        margin-left: 148px;
        font-size: 54px;
        line-height: 107%;
    }
}


